@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Nunito&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Nunito&family=Racing+Sans+One&family=Tilt+Warp&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Nunito;
  background-image: url(./images/headerBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* -----Navbar----- */
.desktopNavbar {
  margin: 0 10% 0 10%;
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.burger {
  display: none;
}

/* -----Header----- */

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
}

.headerText p {
  line-height: 105%; 
  font-size: 30px;
  max-width: 500px;
  margin-bottom: 120px;
}

h1 {
  font-family: Racing Sans One;
  font-size: 140px;
  line-height: normal;
  text-shadow: #070a53 10px 26px;
  margin: 170px 0px 50px 0;
}
h2 {
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #b75ff3;
}

.goButtonBox .goButton {
  width: 360px;
  height: auto;
}
.goButtonBox p {
  z-index: 1;
  position: relative;
  bottom: 260px;
  font-weight: 600;
  font-size: 30px;
}

/* ----Main---- */

.main {
  margin: 0 5% 4% 5%;
}

.opisanie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.opisanie2 {
  justify-content: center;
}

.opisanie3 {
  justify-content: end;
}

.opisanie4 {
  justify-content: center;
}
.opisanieText {
  width: 300px;
}

.opisanieText h3 {
  color: #7bcffa;
  font-size: x-large;
}
.opisanieText p::first-letter {
  margin-left: 14px;
}
.opisanie img {
  max-width: 500px;
  width: 100%;
  /* height: auto; */
}
.opisanieButton {
  border-radius: 50px;
  border: none;
  width: 286px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.opisanieButton1 {
  background: #0f64fb;
}
.opisanieButton2 {
  background: #fb2b0f;
}

.arrowbox {
  display: flex;
}

.arrowbox1 {
  justify-content: center;
  position: relative;
  right: 260px;
}
.arrowbox2 {
  justify-content: center;
}

.arrowbox3 {
  justify-content: center;
}

.arrowbox4 {
  justify-content: center;
  position: relative;
  right: 260px;
}

.arrow {
  max-width: 120px;
  width: auto;
  height: auto;
}
.arrow1 {
  position: relative;
}

/* -----Tariff----- */

.tariffPage {
  background-image: url(./images/tariffBackground.svg);
  background-size: 100%;
}

.card {
  margin: 20% 60px;
}

.card .rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f933;
  border-radius: 207.5px;
  height: 800px;
  width: 325px;
}
.cardImg {
  width: 310px;
 
}

.cardPrice {
  color: #ffffff;
  font-family: "Nunito-Light", Helvetica;
  font-size: 60px;
  height: 80px;
  margin: 0;
  font-weight: 300;
}

.cardParagraph::first-letter {
  margin-left: 14px;
}
.cardParagraph {
  width: 250px;
  height: 180px;
}

.cardButton {
  border-radius: 30px;
  border: none;
  box-shadow: none;
  color: #fff;
  background-color: #b75ff3;
  font-size: 20px;
  height: 50px;
  width: 220px;
}
.cardHeader {
  color: #7bd0ff;
  font-family: "Nunito-SemiBold", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  font-size: 26px;
  width: 340px;
  height: 50px;
}

.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tariffInput {
  height: 40px;
  border-radius: 30px;
  width: 100px;
  padding-left: 16px;
  background-color: #ffffff9e;
  border: none;
  font-size: medium;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.totalPrice {
  max-width: 400px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  text-align: center;
}
.totalPrice div {
  margin: 80px;
}
.totalPrice h4 {
  font-size: 40px;
}

@media screen and (max-width: 1300px) {
  .goButtonBox .goButton {
    width: 280px;
  }
  h1 {
    font-size: 7rem;
    margin: 80px 0px 0px 0;
  }
  body {
    background-size: 120%;
    background-image: url(./images/headerBackgroundMobile.svg);
    background-color: #030a1c;
  }
  .headerText p {
    max-width: 260px;
    margin-bottom: 60px;
  }
  .goButtonBox p {
    bottom: 200px;
    left: 10px;
  }
  .opisanie {
    justify-content: center;
    align-items: center;
  }
  .arrow1,
  .arrow2 {
    transform: rotate(40deg);
  }
  .arrow3,
  .arrow4 {
    transform: rotate(-30deg);
  }
  .arrowbox {
    position: static;
  }
  .opisanieText {
    text-align: center;
  }

  /* ----Card----- */
  .tariffPage {
    background-size: cover;
  }
  .card .rectangle {
    height: 620px;
    width: 245px;
    text-align: center;
  }
  .cardImg {
    width: 220px;
  }
  .cardPrice {
    height: 60px;
    font-size: 40px;
  }

  .cardHeader {
    font-size: 20px;
    width: 240px;
    height: 30px;
  }
  .cardParagraph {
    width: 220px;
    height: 140px;
    font-size: small;
  }
  .cardButton {
    font-size: 14px;
    height: 40px;
    width: 180px;
  }
  .tariffInput {
    height: 30px;
    width: 80px;
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
    margin: 80px 0px 0px 0;
    text-shadow: #070a53 5px 15px;
  }
  .goButtonBox .goButton {
    width: 200px;
  }
  .headerText p {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .goButtonBox p {
    bottom: 140px;
    left: 0px;
  }

  .opisanie img {
    width: 300px;
    height: 160px;
  }
  .burger {
    display: unset;
  }
  .desktopNavbar {
    display: none;
  }

  /* ----Card----- */

  .card .rectangle {
    height: 520px;
    width: 200px;
    text-align: center;
  }
  .cardImg {
    width: 180px;
  }
  .cardPrice {
    height: 40px;
    font-size: 30px;
  }

  .cardHeader {
    font-size: 15px;
    width: 200px;
    height: 20px;
  }
  .cardParagraph {
    width: 180px;
    height: 140px;
    font-size: 12px;
  }
  .cardButton {
    font-size: 12px;
    height: 30px;
    width: 160px;
  }
  .tariffInput {
    height: 20px;
    width: 60px;
    font-size: 12px;
  }
  .mobileNavbar {
    background-color: white;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    
  }
  .mobileNavbar a {
    color: black;
    margin-left: 36px;
    
  }
  .totalPrice div {
    margin: 40px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
    margin: 30px 0px 0px 0;
  }
  .goButtonBox .goButton {
    width: 100px;
  }
  .goButtonBox p {
    bottom: 80px;
  }
  .goButtonBox {
    height: 100px;
  }
  .opisanie img {
    width: 320px;
    height: 160px;
  }
  .opisanieText h3 {
    color: #7bcffa;
    font-size: large;
  }
  .opisanieButton {
    width: 200px;
    height: 30px;
    font-size: 10px;
  }

  .arrow {
    width: 80px;
  }
  .main {
    margin-top: 10%;
  }
  /* ----Card----- */
  .tariffPage {
    background-position-x: -440px;
  }
  .card .rectangle {
    height: 510px;
    width: 260px;
    text-align: center;
  }
  .tariffInput {
    height: 30px;
    width: 80px;
    font-size: 12px;
  }
  form {
    gap: 10px;
  }
  .card {
    margin: 5%;
  }
  .totalPrice div {
    margin: 20px;
  }
  p {
    font-size: smaller;
  }
  h2 {
    font-size: large;
  }
  h3 {
    font-size: medium;
  }
}
